.expenses{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    padding: 12px;
    border-radius: 8px;

    
        background-color: gray;
        border-radius: 12px;
    margin: 10px;
}