.container{
    display: flex;
    padding: 10px 17px;
    border: 3px solid rgb(199, 197, 197);
    box-sizing: border-box;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 25px;
    background: rgb(32, 110, 141);
    margin: 5px ;
}
.date{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 8px;
    background: rgb(44, 48, 114);
    font-size: 15px;
}
.amount{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px 10px;
    background: rgb(4, 10, 77);
    border-radius: 8px;
    font-weight: bold;
}